body {
  padding:50px;
  font: 12px/1.5 Bitstream Vera Sans, Helvetica, Arial, sans-serif;
  color:#333;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:24px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#d21617;
  font-weight:400;
  text-decoration:none;
}

a:hover {
  color:#ac1316;
}

a small {
  font-size:10px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:870px;
  margin:0 auto;
}

.wrapper header h1 {
  width: 136px;
  height: 41px;
  display: block;
  background-position: 0 0;
  text-indent: -999999em;
  background-image: url('../imgs/logo_paf.png');
  background-repeat: no-repeat;
  overflow: hidden;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:250px;
  float:left;
  position:fixed;
  font-size: 11px;
}

header ul {
  list-style:none;
  padding:0;
  width:250px;
}

header ul a {
  display:block;
  padding: 8px 10px;
}

header ul a:hover {
  background: #f8f8f8;
}

header ul a:active {
  background: #f8f8f8;
  border: 1px solid #e5e5e5;   
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:10px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:250px;
  float:left;
  position:fixed;
  bottom:50px;
  font-size: 11px;
}

.notice {
  margin-top: 1.5em;
  padding: .5em 1em;
  text-indent: 0;
  background-color: #F1EFD0;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
}


@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
    background:#fff;
    border-left: 1px solid #e5e5e5;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }

  header ul li {
      font-size:0.9em;
  }

  section {
      clear:both;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
